@model CourseIndexViewModel

@{
  ViewData["Title"] = "Course List";

  int totalPages = (int)Math.Ceiling((double)Model.TotalCount / Model.PageSize);
  int currentPage = Model.Page;
}

<div class="d-flex justify-content-between align-items-center">
  <h1>@ViewData["Title"]</h1>
  <div class="d-flex">
    <a asp-action="Create" class="btn btn-secondary me-2">Create New</a>
    <div>
      <form id="uploadForm" asp-action="UploadCourses" method="post" enctype="multipart/form-data">
        <input type="file" id="csvFileInput" name="csvFile" accept=".csv" class="d-none" required />
        <button type="button" class="btn btn-secondary" onclick="triggerFileUpload()">Upload CSV</button>
      </form>
    </div>
  </div>
</div>
<hr>

<!-- Filter Form -->
<div class="col-12 mb-2 justify-content-between align-items-end">
  <div class="d-flex gap-2 align-items-center">
    <div class="input-icon flex-grow-1">
      <input id="searchInput" type="text" class="form-control" placeholder="Search by name or number"
        value="@Model.SearchValue">
      <span class="input-icon-addon">
        <i class="fa fa-search search-icon"></i>
      </span>
    </div>
    <div class="form-group d-flex align-items-center">
      <label class="mb-0 me-2">
        <p class="mb-0 text-center">Status:</p>
      </label>
      <select id="statusFilter" class="form-control form-select flex-shrink-0" style="width: 200px;">
        <option value="">All</option>
        @foreach (var status in Html.GetEnumSelectList<ComIT_eLearning.Models.Enums.CourseStatus>())
        {
          var selected = status.Value == ((int?)Model.SelectedStatus)?.ToString() ? "selected" : null;
          <option value="@status.Value" selected="@selected">@status.Text</option>
        }
      </select>
    </div>
    <button class="btn btn-secondary" onclick="loadPage()">
      Filter
    </button>
  </div>
</div>

<!-- Course List -->
@if (Model.CourseList == null || !Model.CourseList.Any())
{
  <div class="text-success text-center">
    <p>@Model.EmptyMessage</p>
  </div>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Status</th>
        <th>Number</th>
        <th>Department</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var course in Model.CourseList)
      {
        <tr>
          <td>
            @Html.DisplayFor(model => course.Status)
          </td>
          <td>@course.Number</td>
          <td>@course.Department</td>
          <td>@course.Name</td>
          <td>@course.Year @course.Semester</td>
          <td>
            <a asp-action="Details" asp-route-id="@course.Id">Details</a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <!-- Pagination -->
  @if (totalPages > 1)
  {
    <nav aria-label="Page navigation">
      <ul class="pagination pg-secondary justify-content-center">
        <!-- prev button -->
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
          <a class="page-link" href="javascript:void(0)" onclick="loadPage(@(currentPage - 1))" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        @{
          int firstPage = Math.Max(1, currentPage - 2);
          int lastPage = Math.Min(totalPages, currentPage + 2);
        }
        @for (int i = firstPage; i <= lastPage; i++)
        {
          <li class="page-item @(i == currentPage ? "active" : "")">
            <a class="page-link" href="javascript:void(0)" onclick="loadPage(@i)">
              @i
            </a>
          </li>
        }

        <!-- next button -->
        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
          <a class="page-link" href="javascript:void(0)" onclick="loadPage(@(currentPage + 1))" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  }
  <!-- End of Pagination-->
}

<script>
  function triggerFileUpload() {
    document.getElementById('csvFileInput').click();
  }

  document.getElementById('csvFileInput').addEventListener('change', function () {
    if (this.files.length > 0) {
      document.getElementById('uploadForm').submit();
    }
  });

  function loadPage(p = 1) {
    const search = document.getElementById('searchInput')?.value || "";
    const status = document.getElementById("statusFilter")?.value || "";

    const url = `/Admin/Courses/Index?p=${p}&searchString=${encodeURIComponent(search)}&status=${encodeURIComponent(status)}`;

    // Redirect the browser to this URL
    window.location.href = url;
  }
</script>
