@model ComIT_eLearning.Models.ConfirmModalViewModel

<div class="modal fade" id="@Model.ModalId" tabindex="-1" role="dialog" aria-labelledby="@Model.ModalId-Label"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title fw-bold" id="@Model.ModalId-Label">
          @Model.Title
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <p>
          @Model.Body
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-secondary text-decoration-none" data-bs-dismiss="modal">
          Cancel
        </button>
        <a class="btn btn-secondary" href="@Model.ConfirmLink">Confirm</a>
      </div>
    </div>
  </div>
</div>
