@model List<Course>

@if (Model == null || !Model.Any())
{
  <div class="text-success text-center">
    <p>No courses found matching your search.</p>
  </div>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>Course Name</th>
        <th>Year</th>
        <th>Semester</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var course in Model)
      {
        <tr>
          <td>@course.Number</td>
          <td>@course.Name</td>
          <td>@course.Year</td>
          <td>@course.Semester</td>
          <td><button class="btn btn-secondary btn-sm add-course-btn" data-course-id="@course.Id"> Add</button></td>
        </tr>
      }
    </tbody>
  </table>
}
