@using ComIT_eLearning.Areas.Admin.ViewModels
@model ComIT_eLearning.Models.TeacherProfile

@{
  ViewData["Title"] = "Details";
}

<div class="container">
  <div class="d-flex justify-content-between align-items-end">
    <h2>@Model.User.GetFullName()</h2>
    <p class="mb-0"><a asp-action="Index">Back to List</a></p>
  </div>
  <hr />

  <!-- #region Basic Info Card-->
  <div class="card">
    <div class="card-header">
      <div class="card-head-row card-tools-still-right">
        <h3 class="card-title">Basic Info</h3>
        <div class="card-tools">
          <a asp-action="Edit" asp-route-userId="@Model?.UserId">
            <button class="btn btn-secondary">
              Edit
            </button>
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.Department)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.Department)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.EmployeeNumber)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.EmployeeNumber)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.Position)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.Position)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.User.Email)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.User.Email)></p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.User.PhoneNumber)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.User.PhoneNumber)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.Description)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.WebsiteUrl)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.WebsiteUrl)</p>
        </dd>
        <dt class="col-sm-3">
          <p class="card-text">@Html.DisplayNameFor(model => model.OfficeLocation)</p>
        </dt>
        <dd class="col-sm-9">
          <p class="card-text">@Html.DisplayFor(model => model.OfficeLocation)</p>
        </dd>
      </dl>
    </div>
  </div>
  <!-- #endregion Basic Info Card-->

  <!-- Management card and Courses card -->
  @await Html.PartialAsync("_ProfileDetailPartial", new ProfileDetailPartialViewModel
  {
    UserId = Model.UserId,
    EnrolledCourses = Model.EnrolledCourses,
    IdNumber = Model.EmployeeNumber,
    User = Model.User
    })

</div>

@section Scripts {
  @await Html.PartialAsync("_ScriptsPartial", Model)
}