@model IEnumerable<ComIT_eLearning.Models.TeacherProfile>

@{
    ViewData["Title"] = "Teacher List";
}

<div class="d-flex justify-content-between align-items-end">
    <h1>@ViewData["Title"]</h1>
    <p><a asp-action="Create">Create New</a></p>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                Name
            </th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-items-center">
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @item.User?.GetFullName()
                </td>
                <td>
                    @if (item.User.EmailConfirmed)
                    {
                        <div class="d-flex gap-2 align-items-center">
                            <span class="d-inline-block rounded-circle bg-success" style="width: 15px; height: 15px;"></span>
                            <span>Active</span>
                        </div>

                    }
                    else
                    {
                        <div class="d-flex gap-2 align-items-center">
                            <span class="d-inline-block rounded-circle bg-danger" style="width: 15px; height: 15px;"></span>
                            <span>Inactive</span>
                        </div>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-userId="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-userId="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-userId="@item.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
